
<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 

  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
      <!-- Start Landing Page -->
      <div class="landing-page">
        <header>
          <div class="container">
            <a href="#" class="logo">Fast <b>Network</b></a>
            <ul class="links">
            <li>Vagas</li>
            <li>Contact</li>
              <li><%= link_to "Sign up", new_user_registration_path %> </li>
              <li><%= link_to "Sign in", new_user_session_path %> </li>
            </ul>
          </div>
        </header>
        <div class="content">
          <div class="container">
            <div class="info">
              <h1>Feito para programadores</h1>
              <p>Á rede social feita de programador para programador!</p>
            </div>
            <div class="image">
              <img src="https://i.postimg.cc/65QxYYzh/001234.png">
            </div>
          </div>
        </div>
      </div>
      <!-- End Landing Page -->
<% end %>
